/* global override */

* {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: rgb(251, 242, 222);
    font-size: 12px;
}

/* common styles */

.main-container {
    min-height: 100vh;
    overflow-wrap: break-word;
    overflow: auto;
}

::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3234;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #383b3e;
}
::-webkit-scrollbar-thumb:active {
    background-color: #2A456E;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}